<!DOCTYPE html>
<html lang="ru">

<head>
	<%- include ('../partials/head') %>
</head>

<body>

	<main>

		<div class="container">
			<%- include ('../partials/message') %>
				<div class="row">
					<div class="col-sm-12 col-md-6 col-lg-6">
						<section id="content">
							<form action="/report/input" method='post' encType="multipart/form-data">
								<h1>Профиль мощности</h1>
								<input type="hidden" value="<%=jwt%>" name="jwt">
								<input type="hidden" value="<%=email%>" name="email">
								<div class=" form-control">
									<input type="file" name="dataFile" required>
								</div>
								<div>
									<input type="submit" value="Загрузить" class="button-primary" />
								</div>
							</form>
						</section>
					</div>
					<div class="col-sm-12 col-md-6">
						<blockquote>
							<p class="alert alert-danger"><em>
									- снимите профиль мощности за <strong>полный месяц</strong> со счетчика СЭТ-4М<br>
									- выберите <strong>часовой профиль</strong> и сохраните в текстовом
									формате<br>
									- загрузите полученный файл на сервер<br>
								</em>
							</p>
						</blockquote>
					</div>
				</div>
		</div>

	</main>

	<footer>
		<%- include ('../partials/footer') %>
	</footer>
</body>

</html>