<!DOCTYPE html>
<html lang="ru">

<head>
	<%- include ('../partials/head') %>
</head>

<body>

	<main>

		<div class="container">
			<%- include ('../partials/message') %>
				<div class="row">
					<div class="col-sm-12 col-md-6 col-lg-6">
						<section id="content">
							<form action="/report/addwell" method="post">
								<h1>Скважины</h1>
								<input type="hidden" value="<%=jwt%>" name="jwt">
								<input type="hidden" value="<%=email%>" name="email">
								<div>
									<input type="text" placeholder="скважина" required name="well" />
									<select required size="1" name="detail" class="select-css">
										<option value="drill">бурение</option>
										<option value="prepare">пзр</option>
									</select>
								</div>
								<div>
									<input type="datetime-local" required name="start" />
									<input type="datetime-local" required name="end" />
								</div>
								<div>
									<input type="submit" value="Добавить" class="button-primary" />
								</div>
							</form>
							<form action="/report/clearwell" method="post">
								<input type="hidden" value="<%=jwt%>" name="jwt">
								<input type="hidden" value="<%=email%>" name="email">
								<input type="submit" value="Сбросить" class="button-primary" />
							</form>
							<form action="/report/oilwell" method="post">
								<input type="hidden" value="<%=jwt%>" name="jwt">
								<input type="hidden" value="<%=email%>" name="email">
								<input type="submit" value="Далее" class="button-primary" />
							</form>
						</section>
					</div>
					<div class="col-sm-12 col-md-6">
						<blockquote>
							<p class="alert alert-danger"><em>
									- перед каждой скважиной, кроме первой, должно быть пзр к бурению<br>
									- время начало работ следующей скважины должно совпадать с временем окончанию работ
									предыдущей<br>
									- если у вас нет корректных данных по скважинам, то задайте одну скважину с временем
									начала и окончания
									работ шире отчетного месяца<br>
									- минуты автоматически сбрасываются до 00<br>
									- если работы ещё не закончены выбирете любое время из будущего
								</em>
							</p>
						</blockquote>
						<p class="alert alert-info">
							Вверху страницы отображаются добавленные данные. Как будете готовы переходите к следующей
							странице. Если запутались нажмите СБРОСИТЬ и начните заново.
						</p>
					</div>
				</div>
		</div>

	</main>

	<footer>
		<%- include ('../partials/footer') %>
	</footer>
</body>

</html>