<!DOCTYPE html>
<html lang="ru">

<head>
	<%- include ('../partials/head') %>
</head>

<body>

	<main>

		<div class="container">
			<%- include ('../partials/message') %>
				<div class="row">
					<div class="col-sm-12 col-md-6 col-lg-6">
						<section id="content">
							<form action="/report/save" method="post">
								<h1>Отчет</h1>
								<input type="hidden" value="<%=jwt%>" name="jwt">
								<input type="hidden" value="<%=email%>" name="email">
								<input type="hidden" value="<%=resultPath%>" name="resultPath">
								<div>
									<input type="submit" value="Сохранить" class="button-primary" />
								</div>
							</form>
						</section>
					</div>
					<div class="col-sm-12 col-md-6">
						<blockquote>
							<pclass="alert alert-info"><em>
									- при расчете потребленной электрической энергии учитывается только <strong>активная
										мощность</strong> (колонка
									А+ в профиле мощности). <br>
									- используется коэффициент трансформации равный <strong>7200</strong>. <br>
									- для проверки отчета можете снять со счетчика СЭТ-4М отчет по электрической энергии
									за отчетный месяц и сравнить
									потребленную активную электрическую энергию с итоговым значением в ячейке
									<strong>AJ22</strong> нашего отчета.
								</em></p>
						</blockquote>

					</div>
				</div>
		</div>

	</main>

	<footer>
		<%- include ('../partials/footer') %>
	</footer>
</body>

</html>